@charset "utf-8";

body {
 background: #808080;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 margin: 0;
 padding: 0;
 font-family: serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#active {
 background-color: grey;
}

div.content {
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
  box-shadow: 10px 10px 10px grey;
  border: thin solid grey;
  padding: 10px;
}

div.footer {
  clear: both;
  width: 100%;
  background-color: black;
  height: 50px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 700px) {
    body {
      width: 100%;
    }
 
    div.content {
      width: 100%;
      margin-right: 0%;
      margin-left: 0%;
      box-shadow: none;
    }
}
